@import url('https://fonts.googleapis.com/css?family=Varela+Round');

//colors:
$accent: #F3A712;
$bg: #29335C;
$secondary: #53B3CB;
$felt: #A8C686;
$edge: #E4572E;
$font: 'Varela Round', sans-serif;

body {
    font-family: $font;
    background-color: $bg;
    color: $accent;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 622px;

    header {
        width: 100%;
        background-color: $accent;
        color: $bg;

        h1 {
            margin-bottom: 0;
        }

        p {
            font-size: .75em;
            margin-top: 0;
        }
    }

    .border {
        background-color: $edge;
        margin: auto;
        width: 900px;
        padding: 1.5%;
        border-radius: 25px;
    

        main {
            display: flex;
            //width: 90%;
            margin: auto;
            background-color: $felt;
            border: 1px solid $felt;
            border-radius: 25px;

            figure:first-child {
                margin: 1.8% 0 1.8% 5%;
                position: static;
                padding: 0;
            }

            figure:nth-child(2) {
                position: absolute;
                left: 408px;
                //margin: 2% 0 % 0;
                padding: 0;
            }

            figure:nth-child(3) {
                position: absolute;
                left: 550px;
                //margin: 1.6% 0 1.6% 0;
                padding: 0;
            }

            figure:nth-child(4) {
                position: absolute;
                left: 700px;
                //margin: 1.6% 0 1.6% 0;
                padding: 0;
            }

            figure:nth-child(5) {
                position: absolute;
                left: 845px;
                //margin: 1.6% 0 1.6% 0;
                padding: 0;
            }

            // figure:nth-child(6) {
            //     position: absolute;
            //     left: 535px;
            //     //margin: 1.6% 0 1.6% 0;
            //     padding: 0;
            // }

            figure {

                img {
                    //box-shadow: -3px 3px 5px 6px rgba(0, 0, 0, 0.4);
                    border-radius: 13px;
                    //border: 8px solid $bg;
                    //background: $bg;
                }

                figcaption {
                    width: 100%;
                    margin: 2%;
                    border-radius: 5px;
                    background-color: $felt;
                    color: $bg;
                }
            }
        }
    }

    .buttons {
        background-color: $accent;
        color: $bg;
        display: flex;
        justify-content: center;

        button {
            margin: 1% 2%;
            padding: 20px;
            border-radius: 15px;
            border: 10px solid $edge;
            background-color: $bg;
            color: $accent;
            font-family: $font;
            font-size: 1.5em;
            font-weight: bold;
        }

        p {
            padding-top: 40px;
        }
    }

    h3 {
        margin: 1%;
    }

    footer {
            a {
                text-decoration: none;
                color: $accent;
            }
    }
}