body {
    background-color: #80CFA9;
    text-align: center;

    main {
    display: flex;
    background-color: #308834
    }

    .buttons {
        display: flex;
        justify-content: center;
    }
}